<h2>Ajouter une dépense</h2>

<div class="formulaire">
    <form [formGroup]="formulaire" (ngSubmit)="envoyerDepense()">
        <input type="text" formControlName="nom" [(ngModel)]="nouvelleDepense.nom" placeholder="Nom">
        <div *ngIf="formulaire.get('nom')?.hasError('required') && formulaire.get('nom')?.touched">
          Le nom est requis.
        </div>
        
        <input type="number" formControlName="prix" [(ngModel)]="nouvelleDepense.prix" placeholder="Prix">
        <div *ngIf="formulaire.get('prix')?.hasError('required') && formulaire.get('prix')?.touched">
          Le prix est requis.
        </div>
        <div *ngIf="formulaire.get('prix')?.hasError('min') && formulaire.get('prix')?.touched">
          Le prix doit être supérieur ou égal à 0.
        </div>
        
        <input type="text" formControlName="description" [(ngModel)]="nouvelleDepense.description" placeholder="Description">
        
        <input type="date" formControlName="date" [(ngModel)]="nouvelleDepense.date">
        <div *ngIf="formulaire.get('date')?.hasError('required') && formulaire.get('date')?.touched">
            La date est obligatoire
        </div>
        
        <button type="submit" [disabled]="formulaire.invalid">Ajouter Depense</button>
      </form>
</div>

<app-mon-solde></app-mon-solde>