<h2>Ajouter une dépense</h2>

<div class="formulaire">
    <form (submit)="envoyerDepense()">
        <input type="text" [(ngModel)]="nouvelleDepense.nom" [ngModelOptions]="{standalone: true}" placeholder="Nom">
        <input type="number" [(ngModel)]="nouvelleDepense.prix" [ngModelOptions]="{standalone: true}" placeholder="Prix">
        <input type="text" [(ngModel)]="nouvelleDepense.description"  [ngModelOptions]="{standalone: true}" placeholder="Description">
        <input type="date" [(ngModel)]="nouvelleDepense.date" [ngModelOptions]="{standalone: true}">
        <button type="submit">Ajouter Depense</button>
    </form>
</div>