<h2 class="">Ajouter une dépense</h2>

<div class="formulaire">
    <form [formGroup]="formulaire" (ngSubmit)="envoyerDepense()" class="flex flex-column gap-2">
      <div class="nom-form">
        <input pInputText type="text" formControlName="nom" [(ngModel)]="nouvelleDepense.nom" placeholder="Nom" >

        @if(formulaire.get('nom')?.hasError('required') && formulaire.get('nom')?.touched) {
          <span class="errorMessage">
            Le nom est requis.
          </span>
        }
      </div>
        
        <div class="prix-form">
          <input pInputText type="number" formControlName="prix" [(ngModel)]="nouvelleDepense.prix" placeholder="Prix">
          @if(formulaire.get('prix')?.hasError('required') && formulaire.get('prix')?.touched) {
            <span class="errorMessage">
              Le prix est requis.
            </span>
          }
          @else if (formulaire.get('prix')?.hasError('min') && formulaire.get('prix')?.touched) {
            <span class="errorMessage">
              Le prix doit être supérieur ou égal à 1.
            </span>
          }
        </div>
        
        <div class="description-form">
          <input type="text" formControlName="description" [(ngModel)]="nouvelleDepense.description" placeholder="Description (optionnel)">
        </div>

        <div class="date-form">
          <input type="date" formControlName="date" [(ngModel)]="nouvelleDepense.date">

          @if (formulaire.get('date')?.hasError('required') && formulaire.get('date')?.touched) {
            <span class="errorMessage">
              La date est obligatoire
            </span>
          }
          
        </div>

        <div class="bouton-form">
          <button type="submit" [disabled]="formulaire.invalid">Ajouter Depense</button>
        </div>
      </form>
</div>

<app-mon-solde></app-mon-solde>